package components

templ Layout() {
	<html>
		<head>
			<title>Bill Minder</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		</head>
		<body class="p-6">
			<div class="flex justify-between pb-6">
				<h1 class="text-3xl font-semibold">Bills List</h1>
				<button _="on click toggle .hidden on #toggleForm" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
					Add New
				</button>
			</div>
			<div hx-get="/bills" hx-trigger="load" class="flex justify-between pb-6">
				<!-- Bills list will be loaded here by htmx -->
			</div>
			<div id="toggleForm" class="hidden">
				@BillForm()
			</div>
		</body>
	</html>
}
