<div class="grid grid-cols-1 gap-2" id="bill-form">
	<input
		class="p-2 rounded border border-zinc-200"
		type="text"
		name="name"
		placeholder="Bill Name"
		value="{{ if .Name }}{{ .Name }}{{ end }}"
	/>
	<div class="grid grid-cols-6 gap-2">
		<select class="col-span-4 p-2 rounded border border-zinc-200" name="dueDateDay">
			{{ if .DueDateDay }}
				{{ template "dayOptionList" .DueDateDay }}
			{{ else }}
				{{ template "dayOptionList" }}
			{{ end }}
		</select>
		<div class="flex col-span-2 gap-2 justify-self-end items-center">
			<label for="isAutoPay">Auto Pay</label>
			<input class="p-4" type="checkbox" name="isAutoPay" {{ if .IsAutoPay }}checked{{ end }} />
		</div>
	</div>
	<input
		class="p-2 rounded border border-zinc-200"
		type="number"
		step=".01"
		name="amount"
		placeholder="Bill Amount"
		value="{{ if .Amount }}{{ .Amount }}{{ end }}"
	/>
	<select class="p-2 rounded border border-zinc-200" name="billType">
		<option {{ if eq .BillType "STATIC" }}selected{{ end }} value="STATIC">Static --- recurring bill</option>
		<option {{ if eq .BillType "VARIABLE" }}selected{{ end }} value="VARIABLE">Variable --- projected expense</option>
	</select>
	<div class="flex flex-row gap-x-4 justify-between">
		<div>
			{{ if .ID }}
				<button
					class="py-2 px-4 rounded border border-red-600 hover:text-white hover:bg-red-600"
					hx-delete="/bills/{{ .ID }}"
					hx-target="#bill-list"
					hx-swap="outerHTML"
					_="on htmx:afterRequest remove #bill-form"
				>
					Delete
				</button>
			{{ end }}
		</div>
		<div>
			<button
				class="py-2 px-4 rounded border hover:text-white border-zinc-400 hover:bg-zinc-400"
				hx-slide-out
				hx-get="/bills"
				hx-target="#bill-list"
				hx-swap="outerHTML"
			>
				Cancel
			</button>
			<button
				class="py-2 px-4 rounded border hover:text-white border-sky-600 text-slate-600 hover:bg-sky-600"
				{{ if .ID }}
					hx-put="/bills/{{ .ID }}"
				{{ else }}
					hx-post="/bills"
				{{ end }}
				hx-slide-out
				hx-include="closest #bill-form"
				hx-target="#bill-list"
				hx-swap="outerHTML"
				_="on click wait 500ms then remove closest #bill-form"
			>
				Save
			</button>
		</div>
	</div>
</div>
